
#gameField  {
    background-color: green;
    width: 495;
    height: 495;
    position: relative;
    left: 100px;
    top: 50px;
    font-size: 0;
}

.cell {
    background-color: lightgray;
    width: 55;
    height: 55;
    padding: 5;
    margin: 0;
    border-style: outset;
    box-sizing: border-box;
    display: inline-block;
}

@keyframes jumpAnimation {
    from {
        box-shadow: 5px 10px 10px -1px rgba(0, 0, 0, 0.598);
        transform: translate(0px, -6px);
        height: 100%;
    } 
    25%{
        box-shadow: 5px 9px 10px -1px rgba(0, 0, 0, 0.598);
        transform: translate(0px, -5px);
        height: 100%;
    }  
    50%{
        box-shadow: 5px 7px 10px -1px rgba(0, 0, 0, 0.598);
        transform: translate(0px, -3px);
        height: 100%;
    }  
    75%{
        box-shadow: 4px 5px 10px -1px rgba(0, 0, 0, 0.598);
        transform: translate(0px, -0px);
        height: 97%;
    }  
    
    to {
        box-shadow: 3px 4px 10px -1px rgba(0, 0, 0, 0.598);
        transform: translate(0px, 2px);
        height: 95%;
    }
}

@keyframes pathAnimation {
    from {
        opacity: 1;
        
    } 
    to {
        opacity: 0.1;
    }
}

@keyframes removingAnimation {
    from {
        opacity: 1;
        transform: translate(0px, 0px);
        width: 100%;
        height: 100%;
        
    } 
    to {
        opacity: 0.1;
        transform: translate(15px, 15px);
        width: 20%;
        height: 20%;
    }
}



 .circle > div{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    
    box-shadow: 3px 4px 10px -1px rgba(0, 0, 0, 0.813);
   
    transition-property: box-shadow, transform;
    transition-duration: 0.5s;  
}

.color0 > div{
    background-image: -webkit-radial-gradient(25% 30%, circle,white, darkorange);   
}
.color1 > div{
    background-image: -webkit-radial-gradient(25% 30%, circle,white, blue);   
}
.color2 > div{
    background-image: -webkit-radial-gradient(25% 30%, circle,white, darkred);   
}
.color3 > div{
    background-image: -webkit-radial-gradient(25% 30%, circle,white, darkgreen);   
}
.color4 > div{
    background-image: -webkit-radial-gradient(25% 30%, circle,white, darkmagenta);   
}

.circle:hover > div{
    transform: translate(0px, -6px);
    box-shadow: 5px 10px 10px -1px rgba(0, 0, 0, 0.598);
}

.selected > div{
    animation-name: jumpAnimation;
    animation-duration: 0.3s;
    animation-iteration-count: infinite; 
    animation-direction: alternate;
}
.path > div { 
    height: 100%;
    width: 100%;
    border-radius: 50%;    
    animation-name: pathAnimation;
    animation-duration: 0.5s;
    opacity: 0.0;
}

.removing > div {
    
    animation-name: removingAnimation;
    animation-duration: 0.3s;
    opacity: 0.0;
}


.placeholder > div{

    background-color: rgba(0, 0, 255, 0);
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 2s;
}

.placeholder:hover > div{
    background-color: rgba(0, 0, 255, 0.26);
}


.break {
    float: none;
}